<div class="product">

  <ng-template [ngIf]="product.image">
    <div class="product-image">
      <img src="{{product.image}}">
    </div>
  </ng-template>

<!--  <div class="product-card-title">{{product-card.title}}</div>-->
  <custom-title [title]="product.title"></custom-title>
  <div class="product-text">{{product.description | wordUpper: 'томат'}}</div>
  <div class="product-action">
    <a class="btn" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
    <a class="btn btn-white" [routerLink]="['/products', product.id]">Подробнее</a>
  </div>
<!--  <div>{{cartProductService.getCommonCount()}}</div>-->
</div>
