<section class="order about">
  <div class="container">
    <div class="" id="contacts">
      <div class="order-text-title double-title">
        <span>Лучшая </span>
        Итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio molestias nam obcaecati perspiciatis
        quibusdam quisquam! Accusantium aperiam culpa doloribus eligendi error exercitationem harum non officia porro
        sequi, similique, voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio molestias nam obcaecati perspiciatis
        quibusdam quisquam! Accusantium aperiam culpa doloribus eligendi error exercitationem harum non officia porro
        sequin, similique, voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio molestias nam obcaecati perspiciatis
        quibusdam quisquam! Accusantium aperiam culpa doloribus eligendi error exercitationem harum non officia porro
        sequi, similique, voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio molestias nam obcaecati perspiciatis
        quibusdam quisquam! Accusantium aperiam culpa doloribus eligendi error exercitationem harum non officia porro
        sequi, similique, voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio molestias nam obcaecati perspiciatis
        quibusdam quisquam! Accusantium aperiam culpa doloribus eligendi error exercitationem harum non officia porro
        sequi, similique, voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio molestias nam obcaecati perspiciatis
        quibusdam quisquam! Accusantium aperiam culpa doloribus eligendi error exercitationem harum non officia porro
        sequi, similique, voluptas!
      </div>
    </div>

    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>
